<?xml version="1.0" encoding="utf-8"?>
<configuration>
     <configSections>
	    <section name="Unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
      <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>

  <connectionStrings>
    <!-- metadata=res://*/SecureData.csdl|res://*/SecureData.ssdl|res://*/SecureData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=OrchData;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient -->
   
    <add name="Spike.DataSource.DataContext" connectionString="Data Source=.;Initial Catalog=OrchData;Integrated Security=true" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
   <!-- <add key="DatabaseInitializerForType Spike.DataSource.DataContext, Spike.DataSource" value="System.Data.Entity.DropCreateDatabaseAlways`1[[Spike.DataSource.DataContext.DataContext, Spike.DataSource]], EntityFramework" /> -->
  </appSettings>
	
	  <Unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
	    <container>
        
	      <!-- Orchestrations -->
	      <register type="Spike.Contracts.Books.IBookOrchestrator, Spike.Contracts" mapTo="Spike.Orchestrations.BookOrchestration.BookOrchestrator, Spike.Orchestrations" />
      	<register type="Spike.Contracts.Customers.ICustomerOrchestrator, Spike.Contracts" mapTo="Spike.Orchestrations.CustomerOrchestration.CustomerOrchestrator, Spike.Orchestrations" />
      	<register type="Spike.Contracts.LibraryCards.ILibraryCardOrchestrator, Spike.Contracts" mapTo="Spike.Orchestrations.LibraryCardOrchestrations.LibraryCardOrchestrator, Spike.Orchestrations" />
      
        <!-- Adapters -->
        <register type="Spike.Contracts.Books.IBookAdapter, Spike.Contracts" mapTo="Spike.StubData.Adapters.BookAdapter, Spike.StubData" />
        <register type="Spike.Contracts.Customers.ICustomerAdapter, Spike.Contracts" mapTo="Spike.Adapters.Customers.CustomerAdapter, Spike.Adapters" />
        <register type="Spike.Contracts.LibraryCards.ILibraryCardAdapter, Spike.Contracts" mapTo="Spike.Adapters.LibraryCards.LibraryCardAdapter, Spike.Adapters" />

      </container>
	  </Unity>

    <entityFramework>
      <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
        <parameters>
          <parameter value="mssqllocaldb" />
        </parameters>
      </defaultConnectionFactory>
      <providers>
        <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      </providers>
    </entityFramework>
</configuration>